.slider {
  position: relative;
  overflow: hidden;
}

.slider__wrapper {
  display: flex;
  transition: transform 0.6s ease;
}

.slider__item {
  flex: 0 0 100%;
  max-width: 100%;
}

.slider__control {
  position: absolute;
  bottom: -10px;
  display: none;
  align-items: center;
  justify-content: center;
  width: 40px;
  color: #fff;
  text-align: center;
  opacity: 0.5;
  height: 50px;
  transform: translateY(-50%);

  @media screen and (max-width: 443px) {
    bottom: -30px;
  }

  &::before {
    @media screen and (max-width: 443px) {
      height: 25px !important;
    }
  }

}

.slider__control_show {
  display: flex;
}

.slider__control:hover,
.slider__control:focus {
  color: #fff;
  text-decoration: none;
  outline: 0;
  opacity: .9;
}

.slider__control_left {
  left: 63px;
}

.slider__control_right {
  right: 15px;
}

.slider__control::before {
  content: '';
  display: inline-block;
  width: 34px;
  height: 54px;
  background: transparent no-repeat center center;
  background-size: 100% 100%;
}

.slider__control_left::before {
  background-image: url(/images/arrow_left.svg)
}

.slider__control_right::before {
  background-image: url(/images/arror_right.svg)
}