@import url("https://fonts.googleapis.com/css2?family=Comfortaa");
html {
  font-family: "Comfortaa";
  font-weight: 400;
  color: #3f3d56;
}

html a {
  text-decoration: none;
  color: inherit;
}

html .btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 204px;
  height: 48px;
  border-radius: 4px;
  background-color: #1565c0;
  color: #fafafa;
  font-size: 18px;
}

html section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 212px;
  padding-right: 222px;
}

html section .section-head {
  font-size: 60px;
}

html header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 36px;
  padding-bottom: 34px;
}

html header nav {
  width: 432px;
  font-size: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

html header nav a {
  width: 128px;
  text-align: center;
}

html header nav a:hover {
  color: #1565c0;
}

html section.project-purpose-section {
  padding-right: 187px;
  margin-bottom: 200px;
}

html section.project-purpose-section .project-purpose {
  -webkit-box-flex: 1.5;
      -ms-flex: 1.5;
          flex: 1.5;
  padding-top: 240px;
  margin-top: 51px;
  background-image: url(/images/backsvg.svg);
  background-position: -48px;
}

html section.project-purpose-section .project-purpose .section-head {
  margin-bottom: 41px;
}

html section.project-purpose-section .project-purpose .section-head span {
  color: #1565c0;
  font-weight: 500;
}

html section.project-purpose-section .project-purpose .description {
  font-size: 36px;
  margin-bottom: 70px;
}

html section.project-purpose-section .project-purpose .btn-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

html section.project-purpose-section .project-purpose-image {
  height: 823px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  background-image: url(/images/svg1.svg);
  background-repeat: no-repeat;
  background-position: center;
}

section.audience-section {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 35px;
  padding: 0;
}

section.audience-section > * {
  padding-left: 212px;
  padding-right: 222px;
}

section.audience-section .cards {
  height: 310px;
  background-color: rgba(21, 101, 192, 0.1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding-top: 38px;
}

section.audience-section .cards .card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 266px;
}

section.audience-section .cards .card .img-wrapper {
  height: 226px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

section.audience-section .cards .card .text {
  color: #1565c0;
  font-size: 24px;
}

section.audience-section .section-head {
  margin-top: 164px;
}

section.audience-section .top-triangle,
section.audience-section .bottom-triangle {
  height: 228px;
}

section.audience-section .top-triangle {
  background: -webkit-gradient(linear, right top, left bottom, color-stop(49.5%, transparent), color-stop(50%, rgba(21, 101, 192, 0.1))) no-repeat;
  background: linear-gradient(to left bottom, transparent 49.5%, rgba(21, 101, 192, 0.1) 50%) no-repeat;
}

section.audience-section .bottom-triangle {
  background: -webkit-gradient(linear, left bottom, right top, color-stop(49.5%, transparent), color-stop(50%, rgba(21, 101, 192, 0.1))) no-repeat;
  background: linear-gradient(to right top, transparent 49.5%, rgba(21, 101, 192, 0.1) 50%) no-repeat;
}

section.guaranties-section {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: center -1px no-repeat url(/images/back_svg.svg), center 80px no-repeat url(/images/guaranties-back-icons.svg);
  padding: 75px 0 38px 0;
  margin-bottom: 34px;
}

section.guaranties-section .section-head {
  margin-bottom: 65px;
}

section.guaranties-section ul {
  width: 921px;
  margin-left: 40px;
  list-style-image: url(/images/marker.svg);
}

section.guaranties-section ul li {
  padding-left: 18px;
  margin-bottom: 30px;
}

section.guaranties-section .guarantie-text {
  font-size: 24px;
}

section.guaranties-section .guarantie-head {
  font-size: 36px;
  position: relative;
  top: -10px;
}

@media screen and (min-width: 1940px) {
  section.guaranties-section {
    background: center url(/images/back_svg.svg), center no-repeat url(/images/guaranties-back-icons.svg);
  }
}

@media screen and (max-width: 1728px) {
  section.guaranties-section {
    background: center url(/images/back_svg.svg);
  }
}

section.cycle-section {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 100px;
  padding-bottom: 133px;
  background: center url(/images/cycle-back-svg.svg), left 47vw top 20px no-repeat url(/images/cycle-man-back-svg.svg);
}

section.cycle-section .section-head {
  margin-bottom: 92px;
}

section.cycle-section .stages {
  width: 912px;
}

section.cycle-section .stages .stage-head {
  color: #1565c0;
  font-size: 48px;
  margin-bottom: 13px;
}

section.cycle-section .stages .stage-text {
  font-size: 36px;
  margin-bottom: 85px;
}

section.reviews-section {
  background: no-repeat center top 80px url(/images/reviews_back_svg.svg);
  padding: 106px 60px 81px 344px;
  position: relative;
  z-index: 0;
}

section.reviews-section .head-wrapper {
  width: 100%;
  margin-top: 207px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: no-repeat left 145px bottom url(/images/reviews_svg_man.svg);
}

section.reviews-section .reviews-wrapper {
  padding-bottom: 125px;
}

section.reviews-section .reviews-wrapper .reviews {
  width: 600px;
  padding: 115px 98px 66px 98px;
  position: relative;
  border: 3px black solid;
}

section.reviews-section .reviews-wrapper .reviews .moved-rectangle {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #f2f2f2;
  z-index: -1;
  left: -63px;
  top: 78px;
}

section.reviews-section .reviews-wrapper .reviews .review-text {
  font-size: 29px;
  margin-bottom: 45px;
  line-height: 1.125;
}

section.reviews-section .reviews-wrapper .reviews .review-text.biggest-text {
  font-size: 36px;
}

section.reviews-section .reviews-wrapper .reviews .review-author {
  color: #1565c0;
  font-size: 24px;
}

.slider {
  position: relative;
  overflow: hidden;
}

.slider__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: -webkit-transform 0.6s ease;
  transition: -webkit-transform 0.6s ease;
  transition: transform 0.6s ease;
  transition: transform 0.6s ease, -webkit-transform 0.6s ease;
}

.slider__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  max-width: 100%;
}

.slider__control {
  position: absolute;
  bottom: -10px;
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 40px;
  color: #fff;
  text-align: center;
  opacity: 0.5;
  height: 50px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.slider__control_show {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.slider__control:hover,
.slider__control:focus {
  color: #fff;
  text-decoration: none;
  outline: 0;
  opacity: .9;
}

.slider__control_left {
  left: 63px;
}

.slider__control_right {
  right: 15px;
}

.slider__control::before {
  content: '';
  display: inline-block;
  width: 34px;
  height: 54px;
  background: transparent no-repeat center center;
  background-size: 100% 100%;
}

.slider__control_left::before {
  background-image: url(/images/arrow_left.svg);
}

.slider__control_right::before {
  background-image: url(/images/arror_right.svg);
}

section.consultation-section {
  padding: 240px 320px 171px 340px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

section.consultation-section #consultation-form-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

section.consultation-section #consultation-form-wrapper #consultation-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 432px;
  padding-left: 2px;
}

section.consultation-section #consultation-form-wrapper input {
  width: 100%;
  height: 52px;
  border-radius: 4px;
  border: 2px solid #979797;
  padding-left: 7px;
  margin-bottom: 30px;
  font-size: 21px;
}

section.consultation-section #consultation-form-wrapper .btn {
  margin-top: 11px;
  border-color: transparent;
  width: 280px;
}

section.consultation-section .section-head {
  width: 620px;
  font-size: 72px;
  font-weight: 500;
}

footer {
  height: 348px;
  background: no-repeat center url(/images/svg_footer.svg), #3f3d56;
}
/*# sourceMappingURL=styles.css.map */