@import url('https://fonts.googleapis.com/css2?family=Comfortaa');

html {
  font-family: "Comfortaa";
  font-weight: 400;
  color: #3f3d56;
  font-size: 36px;

  a {
    text-decoration: none;
    color: inherit;
  }

  .btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 5.66rem;
    height: 1.33rem;
    border-radius: 4px;
    background-color: #1565c0;
    color: #fafafa;
    font-size: 0.5rem;

    @media screen and (max-width: 1078px) {
      font-size: 0.7rem;
      width: 80%;
      height: 2.66rem;
    }
  }

  section {
    display: flex;
    padding-left: 212px;
    padding-right: 222px;

    @media screen and (max-width: 1358px) {
      padding-left: 100px;
      padding-right: 100px;
    }

    @media screen and (max-width: 769px) {
      padding-right: 50px;
      padding-left: 50px;
    }

    @media screen and (max-width: 672px) {
      padding-right: 25px;
      padding-left: 25px;
    }

    .section-head {
      font-size: 1.6rem;
      font-weight: 400;

      @media screen and (max-width: 490px) {
        font-size: 1.4rem;
      }
    }
  }

  @media screen and (max-width: 1910px) {
    font-size: 30px;
  }

  @media screen and (max-width: 1300px) {
    font-size: 24px;
  }

  @media screen and (max-width: 1025px) {
    font-size: 36px;
  }

  @media screen and (max-width: 672px) {
    font-size: 25px;
  }

  @media screen and (max-width: 560px) {
    font-size: 22px;
  }
}

@import 'header.scss';
@import 'project-purpose.scss';
@import 'audience.scss';
@import 'guaranties.scss';
@import 'cycle.scss';
@import 'reviews.scss';
@import 'slider.scss';
@import 'consultation.scss';
@import 'footer.scss';
@import 'variants.scss'